.header {
  height: rem(110px);
  margin-bottom: rem(120px);
  background-color: "transparent";

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  z-index: 100;
  &[data-active] {
    top: -110px;
  }
  &[data-white] {
    background-color: var(--mantine-color-white);
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }
}

.inner {
  height: rem(110px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  margin: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: #ffffff;
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;
  position: relative;
  transition: all 0.2s linear;

  &[data-white] {
    color: #000;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--mantine-color-layoutigreen-6);
    transition: all 0.2s linear;
  }
  &[data-green] {
    color: #000;
    color: var(--mantine-color-layoutigreen-6) !important;
    &::after {
      width: 100%;
    }
  }
  &:hover {
    color: var(--mantine-color-layoutigreen-6) !important;
    &::after {
      width: 100%;
    }
  }
}

.linkLabel {
  margin-right: rem(5px);
}
