.button {
  transition: all 0.2s linear;
  &:hover {
    background-color: var(--mantine-color-layoutigreen-11);
    color: #fff !important;
  }
}

.ghostButton {
  transition: all 0.2s linear;
  &:hover {
    background-color: var(--mantine-color-layoutigreen-6);
    color: var(--mantine-color-layoutidark-6) !important;
  }
}
