.root {
  border: 1px solid #e6e6e6;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  gap: 20px;
}

.indicator {
  color: var(--mantine-color-layoutidark-6) !important;
}

.control {
  &::before {
    display: none;
  }
}

.label {
  color: var(--mantine-color-layoutidark) !important;

  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}
